<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.spacECE.spaceceedu">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round_"
        android:supportsRtl="true"
        android:theme="@style/Theme.SpacECEedu"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Authentication.NumberVerification"
            android:exported="true" />

        <activity
            android:name=".ConsultUS.ConsultUs_SplashScreen"
            android:exported="true" />
        <activity android:name=".LibForSmall.Chat_Us" />
        <activity android:name=".VideoLibrary.VideoLibrary_Activity_SplashScreen" />
        <activity android:name=".LibForSmall.LibForSmall_SplashScreen"/>
        <activity android:name=".LibForSmall.AddBook" />
        <activity android:name=".LearnOnApp.LearnDetailed" />
        <activity android:name=".LearnOnApp.LearnOn_Main" />
        <activity android:name=".LearnOnApp.LearnOn_List_SplashScreen" />
        <activity
            android:name=".Authentication.ConsultantRegistrationInit"
            android:exported="true" />
        <activity
            android:name=".Authentication.RegistrationSelection"
            android:exported="true" />
        <activity
            android:name=".ConsultUS.Agoraa"
            android:exported="true" />
        <activity
            android:name=".ConsultUS.Consultant_AppointmentConfirmation"
            android:exported="true" />
        <activity
            android:name=".Authentication.RegistrationFinal"
            android:exported="true"
            android:theme="@style/Theme.SpacECEedu.NoActionBar" />
        <activity
            android:name=".ConsultUS.Consultant_GetAppointment"
            android:exported="true" />
        <activity
            android:name=".ConsultUS.Consultant_Main"
            android:exported="true" />
        <activity
            android:name=".ActivitiesListActivity"
            android:exported="true" />
        <activity
            android:name=".ActivityDetailsActivity"
            android:exported="true" />

        <activity
            android:name=".ConsultUS.ConsultantProfile"
            android:exported="true" />
        <activity
            android:name=".ConsultUS.ConsultantsLibrary"
            android:exported="true" />
        <activity
            android:name=".VideoLibrary.TopicActivity"
            android:exported="true" />
        <activity
            android:name=".VideoLibrary.VideoLibrary_Activity"
            android:exported="true" />
        <activity
            android:name=".Authentication.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".LibForSmall.Library_Main"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".ReminderBroadCastReciever" />

        <service
            android:name=".FirebaseMessageReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver android:name=".Utils.Notification" />

    </application>

</manifest>