<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.spacECE.spaceceedu">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round_"
        android:supportsRtl="true"
        android:theme="@style/Theme.SpacECEedu"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Agoraa"
            android:exported="true" />
        <activity
            android:name=".Consultants.Consultant_AppointmentConfirmation"
            android:exported="true" />
        <activity
            android:name=".Authentication.UserRegistration"
            android:exported="true"
            android:label="@string/title_activity_user_registration"
            android:theme="@style/Theme.SpacECEedu.NoActionBar" />
        <activity
            android:name=".Consultants.Consultant_GetAppointment"
            android:exported="true" />
        <activity
            android:name=".Consultants.Consultant_Main"
            android:exported="true" />

        <service
            android:name=".FirebaseMessageReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".Consultants.ConsultantProfile"
            android:exported="true" />
        <activity
            android:name=".Consultants.ConsultantsLibrary"
            android:exported="true" />
        <activity
            android:name=".VideoLibrary.TopicActivity"
            android:exported="true" />
        <activity
            android:name=".VideoLibrary.VideoLibrary_Activity"
            android:exported="true" />
        <activity
            android:name=".Authentication.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>